[submodule "openvdb"]
	path = openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb
[submodule "vdb_ws/src/vdb_mapping_ros2"]
	path = vdb_ws/src/vdb_mapping_ros2
	url = https://github.com/fzi-forschungszentrum-informatik/vdb_mapping_ros2.git
[submodule "vdb_ws/src/vdb_mapping"]
	path = vdb_ws/src/vdb_mapping
	url = https://github.com/fzi-forschungszentrum-informatik/vdb_mapping.git
[submodule "nbv_ws/src/nbv"]
	path = nbv_ws/src/nbv
	url = git@ids-git.fzi.de:ys165/nbv.git
