.cache/*
.config/*
.dotnet/*
.gazebo/*
.fzf
.ignition/*
.pki/*
.ropeproject/*
.ros/*
.rviz2/*
.sdformat/*
.vim/*
.viminfo
.vimrc
.wget-hsts
.vscode/*
turtlebot3_ws/*
!turtlebot3_ws/src
docker/.bash_history
