.cache/*
.config/*
.dotnet/*
.gazebo/*
.fzf
.ignition/*
.pki/*
.ropeproject/*
.ros/*
.rviz2/*
.sdformat/*
.vim/*
.viminfo
.vimrc
.wget-hsts
.vscode/*
*/build
*/log
*/install
docker/.bash_history
.local
.Xauthority
*topic_tools*
*__pycache__*
